.header{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: black;
}

.cart{
    position: fixed;
    top: 26px;
    right: -138px;
    width: 400px;
}

.footer{
    margin-top: 75px;
    padding-left: 33px;
}